body
{
padding:50px 0px 0px 0px;
}

.navbar-dark
{
background-color:#696969;
}

.btn
{
background-color:#F0F000;
color:#000000;
}

.btn:hover {
  background-color:#228B22;
  color:white;
}



.bg-img {
  /* The image used */
  background-image: url("images/room.jpg");

  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Full-width input fields */
input[type=text], input[type=email], input[type=name], input[type=number],input[type=link] {
  
  padding: 5px;
  
  border: 2px solid gray;
  background: #f1f1f1;
}
input[type=text]:focus, input[type=email]:focus, input[type=number]:focus, input[type=email]:focus, input[type=link]:focus {
  background-color: #ddd;
  outline: none;
}

.faq{font-size:60px; font-family:Times New Roman;}

.faq {    /* creates the default color as black */
     color: #000000;
}
.faq:hover {  /* changes the color of the text to blue on mouseover */
     color: #000080;
}

.solid1{width: 125%;padding: 5%;border: 4px solid #F0F000;
margin-left:30px;margin-top:auto;}

.solid1:hover {  /* changes the color of the text to blue on mouseover */
     border-color: #000080;
     color: #800000;
}

.solid2{width: 90%;padding:5%;border: 4px solid #F0F000;margin-top:auto;
margin-left:40px; margin-right:auto;}

.solid2:hover {  /* changes the color of the text to blue on mouseover */
     border-color: #000080;
     color:#800000;
}

.solid3{width: 125%;padding: 5%;border: 4px solid #F0F000;
margin-left:30px;margin-top:-50px;}

.solid3:hover {  /* changes the color of the text to blue on mouseover */
     color: #800000;
     border-color: #000080;
}

.solid4{width: 90%;padding: 5%;border: 4px solid #F0F000;margin-top:40px;
margin-left:40px; margin-right:auto;}

.solid4:hover {  /* changes the color of the text to blue on mouseover */
     color: #800000;
     border-color: #000080;
}

.solid5{width: 125%;padding: 5%;border: 4px solid #F0F000;
margin-left:30px;margin-top:-70px;}

.solid5:hover {  /* changes the color of the text to blue on mouseover */
     color: #800000;
     border-color: #000080;
}

.solid6{width: 90%;padding: 5%;border: 4px solid #F0F000;margin-top:40px;
margin-left:40px; margin-right:auto;}

.solid6:hover {  /* changes the color of the text to blue on mouseover */
     color: #800000;
     border-color: #000080;
}

.foot{margin-left: 750px;}

.footer {
   position:relative ;   
left: 0px;
   bottom: 0;
   width: 100%;
   background-color: #F0F000;
   color: black;
   padding:30px 0px 20px 20px;
   
}