body{
	padding: 0px 0px 0px 0px;

}

.navbar-dark{
	background-color:#2F4F4F;
}






}
.logo{
	height:30px; 
	width:150px;
}
.example{
font-size: 60px; 
font-family: Ubuntu; 
margin-left: 30px;
margin-top: 80px;}


.abc{
	font-size: 25px; 
	color: black; 
	margin-left: 35px;
	font-family: san-serif;
}


.imgs{
margin-top: 80px; 
width: 730px; 
height: 500px;
}


.c{
	margin-left: 950px; font-size:15px;
}


/* Container box to set the sides relative to */
.cube {
  width: 150px;
  height: 50px;

  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* The two faces of the cube */
.default-state,
.active-state {
  height: 50px;
}
/* Position the faces */
.default-state {
  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  -o-transform: translateZ(0px);
  -ms-transform: translateZ(0px);
  transform: translateZ(0px);
}
.flip-to-top .active-state {
  -webkit-transform: rotateX(90deg) translateZ(80px);
  -moz-transform: rotateX(90deg) translateZ(80px);
  -o-transform: rotateX(90deg) translateZ(80px);
  -ms-transform: rotateX(90deg) translateZ(80px);
  transform: rotateX(90deg) translateZ(80px);
}
.flip-to-bottom .active-state {
  -webkit-transform: rotateX(0deg) translateZ(0px);
  -moz-transform: rotateX(0deg) translateZ(0px);
  -o-transform: rotateX(0deg) translateZ(0px);
  -ms-transform: rotateX(0deg) translateZ(0px);
  transform: rotateX(0deg) translateZ(0px);
}
/* Rotate the cube */
.cube.flip-to-top:hover {
  -webkit-transform: rotateX(-89deg);
  -moz-transform: rotateX(-89deg);
  -o-transform: rotateX(-89deg);
  -ms-transform: rotateX(-89deg);
  transform: rotateX(-89deg);
}
.cube.flip-to-bottom:hover {
  -webkit-transform: rotateX(89deg);
  -moz-transform: rotateX(89deg);
  -o-transform: rotateX(89deg);
  -ms-transform: rotateX(89deg);
  transform: rotateX(89deg);
}
/* END CORE CSS */
/* Demo styling */


.cube {
  text-align: center;
  margin-left:40px;
}
.default-state,
.active-state
 {
  background-color:#FFD700;
  font-size: 16px;
  text-transform: uppercase;
  
  line-height: 50px;
  -webkit-transition: background 250ms ease;
  -moz-transition: background 250ms ease;
  -o-transition: background 250ms ease;
  transition: background 250ms ease;
}

.cube:hover .default-state {
  background: #ffcc00;
}
.active-state {
  background: green;
  color:white;
}
#flipto {
  display: block;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  color: #ccc;
}






.b{
	width: 100%; 
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.examples{
	font-size: 60px;
	font-family: Ubuntu;
}
.examples:hover{color:#0000ff;}

.reception{
	width: 280px;
}

.heading{
	font-size: 60px; 
	font-family: New Times Roman;
	margin-left: 80px;
}

.p{
	font-size: 25px; 
	color: black; 
	margin-left: 80px;
	font-family: san-serif;
}

.bt{
	background-color: #F0F000;
	color: black;
	border-color: black;
	margin-left: 80px;
}
.bt:hover{
	background-color: green;
	color:white;
}

.responsive{
	width: 100px;
	height: 100px;
}

.ac{
	font-size: 60px;
}
.ac:hover{color: #0000ff;}

.ab{
	font-size: 20px;
	text-indent: 3px;
}
.ab:hover{color:red;}

.k{
	margin-left:-60px;
}

.l{
	margin-left: 60px;
}

.m{
	margin-left:-60px;
}

.n{
	margin-left: 60px;
}

.o{
	margin-left:-60px;
}

.foot{margin-left: 750px;}

.footer {background-color:#FFD700;margin:0px auto; padding:20px 0px 10px 30px;
  position:static;}
.foot1{font-size:20px; }




/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px)   {
  
  }

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1024px) and (max-width: 1280px) {
  .nav-link{font-size: 18px;}
  .imgs{
margin-top: 50px; 
width: 100%; 
height: 100%;
}
  .abc{
	font-size: 24px; 
	color: black; 
	margin-left: 30px;

}
.examples{font-size: 70px;margin-top: 60px;}
.b{
	width: 100%; 
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}
  .reception{width: 270px;margin-left: 60px;}
  .p{
	font-size: 25px;color: black; margin-left: 80px;}
	.example{font-size: 70px; font-family: Ubuntu; margin-left: 30px;margin-top: 50px;}
.responsive{
	width: 100px;
	height: 100px;
}

.ac{
	font-size: 35px;
}

.ab{
	font-size: 20px;
	text-indent: 0px;
	margin-top: 2px;
}
.k{
	margin-left:-70px;
}

.l{
	margin-left: 40px;
}

.m{
	margin-left:-60px;
	margin-top: 10px;
}

.n{
	margin-left: 40px;
}

.o{
	margin-left:-70px;
}


  .footer {
   position:relative ;   
left: 0px;
   bottom: 0;
   width: 100%;
   background-color: #F0F000;
   color: black;
   padding:30px;
   
}
.foot{
	margin-bottom:10px; 
	font-size: 22px;
}

.link{
	color: black;
	font-size: 20px;
}

.fp{
	font-size: 20px;
}
.c{
	margin-left: 640px; font-size:15px;
}

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .nav-link{font-size: 12px;}
  .logo{
  	width: 100px;
  	height: 25px;
  }
  .imgs{
margin-top: 50px; 
width: 90%; 
height: 70%;
margin-left: 50px;
}
  .abc{
	font-size: 14px; 
	color: black; 
	margin-left: 20px;
}

.btn{
	background-color: #F0F000; 
	color: black;
	border-color: #F0F000;
	margin-left: 25px;
	width: 40%;
	font-size: 12px;
}
  .reception{width: 200px;margin-left: 40px;}
  .p{
	font-size: 15px;color: black; margin-left: 50px;}
	.example{font-size: 50px; font-family: Ubuntu; margin-left: 30px;margin-top: 50px;}

.heading{
	font-size: 50px; 
	font-family: Ubuntu;
	margin-left: 50px;
}
.bt{
	background-color: #F0F000;
	color: black;
	border-color: black;
	margin-left: 50px;
	font-size: 12px;
	width: 20%;
}
.responsive{
	width: 60px;
	height: 80px;
}

.ac{
	font-size: 25px;
}

.ab{
	font-size: 12px;
	text-indent: 0px;
	margin-top: 2px;
}
.k{
	margin-left:-40px;
}

.l{
	margin-left: 40px;
}

.m{
	margin-left:-40px;
	margin-top: 5px;
}

.n{
	margin-left: 40px;
}

.o{
	margin-left:-45px;
}


  .footer {
   position:relative ;   
left: 0px;
   bottom: 0;
   width: 100%;
   background-color: #F0F000;
   color: black;
   padding:25px;
   
}
.foot{
	margin-bottom:10px; 
	font-size: 22px;
}

.link{
	color: black;
}

.fp{
	font-size: 18px;
}
.c{
	margin-left: 460px; font-size:12px;
}

}


/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .nav-link{font-size: 12px;}
  .logo{
  	width: 100px;
  	height: 25px;
  }
  .imgs{
margin-top: 50px; 
width: 90%; 
height: 70%;
margin-left: 50px;
}
  .abc{
	font-size: 14px; 
	color: black; 
	margin-left: 20px;
}

.btn{
	background-color: #F0F000; 
	color: black;
	border-color: #F0F000;
	margin-left: 25px;
	width: 40%;
	font-size: 12px;
}
  .reception{width: 200px;margin-left: 40px;}
  .p{
	font-size: 15px;color: black; margin-left: 50px;}
	.example{font-size: 50px; font-family: Ubuntu; margin-left: 30px;margin-top: 50px;}

.heading{
	font-size: 50px; 
	font-family: Ubuntu;
	margin-left: 50px;
}
.bt{
	background-color: #F0F000;
	color: black;
	border-color: black;
	margin-left: 50px;
	font-size: 12px;
	width: 20%;
}
.responsive{
	width: 60px;
	height: 80px;
}

.ac{
	font-size: 25px;
}

.ab{
	font-size: 12px;
	text-indent: 0px;
	margin-top: 2px;
}
.k{
	margin-left:-40px;
}

.l{
	margin-left: 40px;
}

.m{
	margin-left:-40px;
	margin-top: 5px;
}

.n{
	margin-left: 40px;
}

.o{
	margin-left:-45px;
}


  .footer {
   position:relative ;   
left: 0px;
   bottom: 0;
   width: 100%;
   background-color: #F0F000;
   color: black;
   padding:25px;
   
}
.foot{
	margin-bottom:10px; 
	font-size: 22px;
}

.link{
	color: black;
}

.fp{
	font-size: 18px;
}
.c{
	margin-left: 460px; font-size:12px;
}

}
  

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
 
 .navbar-dark{
	background-color:#191970;
}

.logo{
	height:30px; 
	width:120px;
	margin-left: -50px;
}
.example{
font-size: 30px; 
font-family: New Times Roman; 
margin-left: 0px;
margin-top: 30px;}


.abc{
	font-size: 13px; 
	color: black; 
	margin-left: 0px;
	font-family: san-serif;
}


.imgs{
margin-top: 30px; 
width: 100%; 
height: 200px;
}


.c{
	margin-left: 950px; font-size:15px;
}


/* Container box to set the sides relative to */
.cube {
  width: 150px;
  height: 50px;

  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* The two faces of the cube */
.default-state,
.active-state {
  height: 50px;
}
/* Position the faces */
.default-state {
  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  -o-transform: translateZ(0px);
  -ms-transform: translateZ(0px);
  transform: translateZ(0px);
}
.flip-to-top .active-state {
  -webkit-transform: rotateX(90deg) translateZ(80px);
  -moz-transform: rotateX(90deg) translateZ(80px);
  -o-transform: rotateX(90deg) translateZ(80px);
  -ms-transform: rotateX(90deg) translateZ(80px);
  transform: rotateX(90deg) translateZ(80px);
}
.flip-to-bottom .active-state {
  -webkit-transform: rotateX(0deg) translateZ(0px);
  -moz-transform: rotateX(0deg) translateZ(0px);
  -o-transform: rotateX(0deg) translateZ(0px);
  -ms-transform: rotateX(0deg) translateZ(0px);
  transform: rotateX(0deg) translateZ(0px);
}
/* Rotate the cube */
.cube.flip-to-top:hover {
  -webkit-transform: rotateX(-89deg);
  -moz-transform: rotateX(-89deg);
  -o-transform: rotateX(-89deg);
  -ms-transform: rotateX(-89deg);
  transform: rotateX(-89deg);
}
.cube.flip-to-bottom:hover {
  -webkit-transform: rotateX(89deg);
  -moz-transform: rotateX(89deg);
  -o-transform: rotateX(89deg);
  -ms-transform: rotateX(89deg);
  transform: rotateX(89deg);
}
/* END CORE CSS */
/* Demo styling */


.cube {
  text-align: center;
  margin-left:0px;
}
.default-state,
.active-state
 {
  background-color:#FFD700;
  font-size: 16px;
  text-transform: uppercase;
  
  line-height: 50px;
  -webkit-transition: background 250ms ease;
  -moz-transition: background 250ms ease;
  -o-transition: background 250ms ease;
  transition: background 250ms ease;
}

.cube:hover .default-state {
  background: #ffcc00;
}
.active-state {
  background: green;
  color:white;
}
#flipto {
  display: block;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  color: #ccc;
}

.b{
	width: 100%; 
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.examples{
	font-size: 35px;
	font-family: Ubuntu;
	margin-top: -50px;
}
.examples:hover{color:#0000ff;}

.reception{
	width: 130px;
	margin-top: -40px;
}

.heading{
	font-size: 30px; 
	font-family: New Times Roman;
	margin-left: 0px;
	margin-top: -40px;
}

.p{
	font-size: 16px; 
	color: black; 
	margin-left: 0px;
	font-family: san-serif;
}

.bt{
	background-color: #F0F000;
	color: black;
	border-color: black;
	margin-left: 0px;
}
.bt:hover{
	background-color: green;
	color:white;
}

.responsive{
	width: 70px;
	height: 70px;
	margin-top: -150px;
}

.ac{
	font-size: 22px;
	margin-top: -95px;
}
.ac:hover{color: #0000ff;}

.ab{
	font-size: 12px;
	
}
.ab:hover{color:red;}

.k{
	margin-left:0px;

}

.l{
	margin-left: 0px;
}

.m{
	margin-left:0px;
}

.n{
	margin-left: 0px;
}

.o{
	margin-left:0px;
}


  .foot{margin-left: 200px;color: white;}

.footer {background-color:#191970;margin-top:-100px; padding:10px 0px 0px 10px;
  position:static;}
  .foot2{color:#F0F000;font-size: 18px;}
.foot1{font-size:14px; color: white;}
.item-link{color:#F0F000;}

}
  


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

.navbar-dark{
	background-color:#2F4F4F;
}


.logo{
	height:30px; 
	width:120px;
}
.example{
font-size: 50px; 
font-family: New Times Roman; 
margin-left: 50px;
margin-top: 300px;
}


.abc{
	font-size: 14px; 
	color: black; 
	margin-left: 10px;
	font-family: san-serif;
}


.imgs{
margin-top: -1000px; 
width: 300px; 
height: 200px;
margin-left: 15px;
}


.c{
	margin-left: 950px; font-size:15px;
}


/* Container box to set the sides relative to */
.cube {
  width: 150px;
  height: 50px;

  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* The two faces of the cube */
.default-state,
.active-state {
  height: 50px;
}
/* Position the faces */
.default-state {
  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  -o-transform: translateZ(0px);
  -ms-transform: translateZ(0px);
  transform: translateZ(0px);
}
.flip-to-top .active-state {
  -webkit-transform: rotateX(90deg) translateZ(80px);
  -moz-transform: rotateX(90deg) translateZ(80px);
  -o-transform: rotateX(90deg) translateZ(80px);
  -ms-transform: rotateX(90deg) translateZ(80px);
  transform: rotateX(90deg) translateZ(80px);
}
.flip-to-bottom .active-state {
  -webkit-transform: rotateX(0deg) translateZ(0px);
  -moz-transform: rotateX(0deg) translateZ(0px);
  -o-transform: rotateX(0deg) translateZ(0px);
  -ms-transform: rotateX(0deg) translateZ(0px);
  transform: rotateX(0deg) translateZ(0px);
}
/* Rotate the cube */
.cube.flip-to-top:hover {
  -webkit-transform: rotateX(-89deg);
  -moz-transform: rotateX(-89deg);
  -o-transform: rotateX(-89deg);
  -ms-transform: rotateX(-89deg);
  transform: rotateX(-89deg);
}
.cube.flip-to-bottom:hover {
  -webkit-transform: rotateX(89deg);
  -moz-transform: rotateX(89deg);
  -o-transform: rotateX(89deg);
  -ms-transform: rotateX(89deg);
  transform: rotateX(89deg);
}
/* END CORE CSS */
/* Demo styling */


.cube {
  text-align: center;
  margin-left:10px;
}
.default-state,
.active-state
 {
  background-color:#FFD700;
  font-size: 16px;
  text-transform: uppercase;
  
  line-height: 50px;
  -webkit-transition: background 250ms ease;
  -moz-transition: background 250ms ease;
  -o-transition: background 250ms ease;
  transition: background 250ms ease;
}

.cube:hover .default-state {
  background: #ffcc00;
}
.active-state {
  background: green;
  color:white;
}
#flipto {
  display: block;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  color: #ccc;
}


.b{
	width: 100%; 
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.examples{
	font-size: 50px;
	font-family: Ubuntu;
	margin-top: -50px;
}
.examples:hover{color:#0000ff;}

.reception{
	width: 200px;
	margin-top: -40px;
	margin-left: 65px;
}

.heading{
	font-size: 30px; 
	font-family: New Times Roman;
	margin-left: 20px;
	margin-top: 20px;
}

.p{
	font-size: 14px; 
	color: black; 
	margin-left: 20px;
	font-family: san-serif;
}

.bt{
	background-color: #F0F000;
	color: black;
	border-color: black;
	margin-left: 20px;
}
.bt:hover{
	background-color: green;
	color:white;
}

.responsive{
	width: 120px;
	height: 120px;
	
}
.responsive1{margin-top: -100px;margin-left: 20px;}
.responsive2{margin-top: 60px;margin-left: -100px;}
.responsive3{margin-top: 210px;margin-left: -340px;}

.ac{
	font-size: 40px;
	margin-top: 0px;
}
.ac:hover{color: #0000ff;}
.ac1{margin-top: -100px;margin-left: 100px;}
.ac2{margin-top: 80px;margin-left: -20px;}
.ac3{margin-top: 210px;margin-left: -200px;}

.ab{
	font-size: 20px;
	
}
.ab:hover{color:red;}
.ab1{margin-left: 100px;}
.ab2{margin-left: -20px;}
.ab3{margin-left: -230px;}

  .foot{margin-left: 60px;color: white;}

.footer {background-color:#2F4F4F;margin-top:-50px; padding:10px 0px 0px 10px;
  position:static;}
  .foot2{color:#F0F000;font-size: 15px;}
.foot1{font-size:12px; color: white;}
.item-link{color:#F0F000;}

}