#body
{
  padding: 50px 0px 0px 0px;
  z-index: 0;
}
.logo{width: 150px;
height: 30px;}
.navbar-dark
{
  background-color:#2F4F4F;
}
.navbody{
   border-bottom: 1px solid  #666;
    width: 100%;
}

.navs{
  justify-content: space-around;
  list-style: none;
  text-transform: capitalize;
}

.btn-nav1{border: 2px solid #F0F000;padding: 5px;}




.masthead {
  width: 100%;
  height: 800px;
  background-image: url('banner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.s1{border:0;width:280px; height:250px;}

.find{font-family:Times New Roman; font-size:70px;}

.finds{font-size:28px;font-family: san-serif;}

.intro{font-size:70px; font-family:Times New Roman; margin-top:150px;}

.app{font-size:30px; font-family:san-serif;}

.pro{margin-left:1020px; margin-top:-300px;width:300px;}


ul{
  list-type: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.slider{
 margin-top: -250px;
 margin-left: 1080px;
 width: 300px;
 height: 300px; }
 
 /*border: 8px solid #FFFFFF;
 border-radius:5px;
 box-shadow: 2px 2px 4px;
}*/



.glow-on-hover {
    width: 200px;
    height: 50px;
    
    margin:-220px 0px 0px 160px;
    border: none;
    outline: none;
    color:black;
    background: #FFD700;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: black;
}

.glow-on-hover:active:after {
    background: transparent;

}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background:#FFD700;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}





.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
  }

  #more {display: none;}
  #myBtn{background-color: #2F4F4F;color: white;margin-left: 20px;padding: 8px;}
  #myBtn:hover{background-color: gold;}
.tops{font-size:70px; font-family:Times New Roman; margin:auto; text-align:center;
  margin-top: 50px;}
.tops:hover{color:red;}

.solid{
  border:2px solid #FFD700;
  width:100%;
  height: 100%;
  background-color: #FFFFE0;

}

.image{
  width:300px;
  margin-left: 30px;
  margin-top: 40px;
}

.thumbnail{
  margin-left: 30px;
}

.img{
width: 65px;
height: 80px;
margin-left: 5px;
margin-top: 10px;
}

.ab{
margin-left: 350px;
margin-top: -310px;
font-size: 22px;
}
.top{margin-top: -5px;}
.para{margin-left: 350px;font-size: 13px;}

.rating{margin-left: 350px; font-size: 14px;color: black;}

.rate{margin-left: 30px;font-size: 14px;}

.num{margin-left: 37px; color: #B7950B;font-size: 14px;}

.digit{color: #B7950B;margin-left: 28px;font-size: 14px;}

.digi{color: #B7950B;margin-left: 3px;font-size: 14px;}

.per{margin-left: 60px;font-size:18px;color:  #2F4F4F;margin-top:75px;}

.btn2{padding: 5px;margin-left: 50px;margin-top: 20px;background-color:  #2F4F4F;color:white;}
.btn2:hover{background-color: green;color:white; text-decoration:none; }
.food{margin-left: 45px; color:#2F4F4F;font-size: 16px;}

/* The bar container */
.bar-container {width: 20%; background-color:#A6ACAF; margin-left:350px; 
 margin-top: 0px;}

.bar-container1 {width:20%;background-color:#A6ACAF; margin-left:520px; margin-top:0px;}



/* Individual bars */
.bar-10 {width: 60%; height: 5px; background-color: #669900;}
.bar-9 {width: 60%; height: 5px; background-color: #669900;}
.bar-8 {width: 70%; height: 5px; background-color: #239B56;}
.bar-7 {width: 68%; height: 5px; background-color:  #4169E1;}
.bar-6 {width: 70%; height: 5px; background-color: #239B56;}
.bar-5 {width: 50%; height: 5px; background-color: #ff9900;}
.bar-4 {width: 40%; height: 5px; background-color: #cc3300;}
.bar-3 {width: 60%; height: 5px; background-color: #20B2AA;}
.bar-2 {width: 70%; height: 5px; background-color: #239B56;}
.bar-1 {width: 85%; height: 5px; background-color: #A52A2A;}


.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color:   #008080;
  color: black;
}

.flip-card-back {
  background-color: #E6E6FA;
  color: black;
  transform: rotateY(180deg);
}


.co1{margin-left:30px;}

.co2{margin-left: 20px;font-size: 27px;}

.work{font-size:70px; font-family:Times New Roman; text-align:center; 
  margin-top:100px; position:relative;}

 .parap{font-size:30px; font-family:san-serif; color:#000000; text-align:center; 
 margin-top:30px; position:relative;} 

.based{font-size:30px; font-family:san-serif; color:gray; text-align:center;}

.issue{height:400px; width:100%;margin-right: auto;margin-left: auto;}

.solving{font-size:60px; font-family:Times New Roman; color:white; 
text-align:center; margin:-290px 0px 0px 0px;}

.help{font-size:30px; font-family:san-serif; color:#FFD700; text-align:center;}

.offer{margin:300px 0px 0px -120px; font-size:60px; font-family:Times New Roman; 
color:#000000; margin-left:12px;}

.looking{font-size:27px; font-family:san-serif; color:#000000; margin:10px 0px 0px -120px; 
  margin-left:12.5px;}

.raimg{}

.custo{margin:-350px 0px 0px 650px; color:#FFD700;} 

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  background-color: #FFD700;
  color: black;
  width:550px;
  margin-left: 620px;
  margin-top: -350px;
}

.c1{width:250px;height:250px; margin-top:25px;}
.customer{font-size:70px; font-family:Times New Roman; text-align:center;}

.custimage{} 

.foot{margin-left: 750px;}

.footer {background-color:#FFD700;margin:0px auto; padding:20px 0px 10px 30px;
  position:static;}
.foot1{font-size:20px; }








/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  .s1{border:0;width:280px; height:250px;}
  .slider{
 margin-top: -250px;
 margin-left: 1000px;
 width: 300px;
 height: 300px; }
 
 /*border: 8px solid #FFFFFF;
 border-radius:5px;
 box-shadow: 2px 2px 4px;
}*/

.glow-on-hover {
    width: 200px;
    height: 50px;
    
    margin:-220px 0px 0px 120px;
    border: none;
    outline: none;
    color:black;
    background:#FFD700;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: black;
}

.glow-on-hover:active:after {
    background: transparent;

}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background:#FFD700;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.solid{
  border:2px solid #FFD700;
  width:100%;
  height: 100%;
  background-color: #FFFFE0;

}

.image{
  width:270px;
  margin-left: 30px;
  margin-top: 40px;
}

.thumbnail{
  margin-left: 30px;
}

.img{
width: 55px;
height: 70px;
margin-left: 5px;
margin-top: 10px;
}


.ab{
margin-left: 320px;
margin-top: -290px;
font-size: 20px;
}
.top{margin-top: -5px;}
.para{margin-left: 315px;font-size: 12px;}

.rating{margin-left: 320px; font-size: 12px;color: black;}

.rate{margin-left: 18px;font-size: 12px;}

.num{margin-left: 55px; color: #B7950B;font-size: 12px;}

.digit{color: #B7950B;margin-left: 45px;font-size: 12px;}

.digi{color: #B7950B;margin-left: 24px;font-size: 12px;}

.per{margin-left: 50px;font-size:18px;color:  #2F4F4F;margin-top:0px;}

.btn2{padding: 5px;margin-left: 45px;margin-top: 20px;background-color:  #2F4F4F;color:white;}
.btn2:hover{background-color: green;color:white; text-decoration:none; }
.food{margin-left: 40px; color:#2F4F4F;font-size: 16px;}

/* The bar container */
.bar-container {width: 22%; background-color:#A6ACAF; margin-left:320px; 
 margin-top: 0px;}

.bar-container1 {width:22%;background-color:#A6ACAF; margin-left:480px; margin-top:0px;}



/* Individual bars */
.bar-10 {width: 60%; height: 5px; background-color: #669900;}
.bar-9 {width: 60%; height: 5px; background-color: #669900;}
.bar-8 {width: 70%; height: 5px; background-color: #239B56;}
.bar-7 {width: 68%; height: 5px; background-color:  #4169E1;}
.bar-6 {width: 70%; height: 5px; background-color: #239B56;}
.bar-5 {width: 50%; height: 5px; background-color: #ff9900;}
.bar-4 {width: 40%; height: 5px; background-color: #cc3300;}
.bar-3 {width: 60%; height: 5px; background-color: #20B2AA;}
.bar-2 {width: 70%; height: 5px; background-color: #239B56;}
.bar-1 {width: 85%; height: 5px; background-color: #A52A2A;}


.flip-card {
  background-color: transparent;
  width: 280px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color:   #008080;
  color: black;
}

.flip-card-back {
  background-color: #E6E6FA;
  color: black;
  transform: rotateY(180deg);
}

.foot1{font-size:20px; }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  background-color: #FFD700;
  color: black;
  width:550px;
  margin-left: 620px;
  margin-top: -350px;
}
.q2{}
  
}



/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .s1{border:0;width:280px; height:250px;}
  .slider{
 margin-top: -250px;
 margin-left: 900px;
 width: 300px;
 height: 300px; }
 
 /*border: 8px solid #FFFFFF;
 border-radius:5px;
 box-shadow: 2px 2px 4px;
}*/

.glow-on-hover {
    width: 200px;
    height: 50px;
    
    margin:-220px 0px 0px 80px;
    border: none;
    outline: none;
    color:black;
    background: #FFD700;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: black;
}

.glow-on-hover:active:after {
    background: transparent;

}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background:#FFD700;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.solid{
  border:2px solid #FFD700;
  width:100%;
  height: 100%;
  background-color: #FFFFE0;

}

.image{
  width:270px;
  margin-left: 30px;
  margin-top: 40px;
}

.thumbnail{
  margin-left: 30px;
}

.img{
width: 55px;
height: 70px;
margin-left: 5px;
margin-top: 10px;
}


.ab{
margin-left: 320px;
margin-top: -280px;
font-size: 20px;
}
.top{margin-top: -5px;}
.para{margin-left: 315px;font-size: 9px;}

.rating{margin-left: 320px; font-size: 10px;color: black;}

.rate{margin-left: 20px;font-size: 10px;}

.num{margin-left: 28px; color: #B7950B;font-size: 12px;}

.digit{color: #B7950B;margin-left: 19px;font-size: 12px;}

.digi{color: #B7950B;margin-left: 2px;font-size: 12px;}

.per{margin-left: 60px;font-size:18px;color:  #2F4F4F;margin-top:75px;}

.btn2{padding: 5px;margin-left: 50px;margin-top: 20px;background-color:  #2F4F4F;color:white;}
.btn2:hover{background-color: green;color:white; text-decoration:none; }
.food{margin-left: 45px; color:#2F4F4F;font-size: 16px;}

/* The bar container */
.bar-container {width: 18%; background-color:#A6ACAF; margin-left:320px; 
 margin-top: 0px;}

.bar-container1 {width:18%;background-color:#A6ACAF; margin-left:443px; margin-top:0px;}



/* Individual bars */
.bar-10 {width: 60%; height: 5px; background-color: #669900;}
.bar-9 {width: 60%; height: 5px; background-color: #669900;}
.bar-8 {width: 70%; height: 5px; background-color: #239B56;}
.bar-7 {width: 68%; height: 5px; background-color:  #4169E1;}
.bar-6 {width: 70%; height: 5px; background-color: #239B56;}
.bar-5 {width: 50%; height: 5px; background-color: #ff9900;}
.bar-4 {width: 40%; height: 5px; background-color: #cc3300;}
.bar-3 {width: 60%; height: 5px; background-color: #20B2AA;}
.bar-2 {width: 70%; height: 5px; background-color: #239B56;}
.bar-1 {width: 85%; height: 5px; background-color: #A52A2A;}


.flip-card {
  background-color: transparent;
  width: 280px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color:   #008080;
  color: black;
}

.flip-card-back {
  background-color: #E6E6FA;
  color: black;
  transform: rotateY(180deg);
}

.foot1{font-size:20px; }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  background-color: #FFD700;
  color: black;
  width:520px;
  margin-left: 620px;
  margin-top: -350px;
}

}

  


@media (min-width: 768px) and (max-width: 1024px) {


.find{font-family:Times New Roman; font-size:70px;}

.finds{font-size:25px;}

.intro{font-size:40px; font-family:Times New Roman; margin-top:90px;}

.app{font-size:20px; font-family:arial;}

.pro{margin-left:1020px; margin-top:-300px;width:300px;}


ul{
  list-type: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
.s1{border:0;width:200px; height:180px;}
.slider{
 margin-top: -200px;
 margin-left: 550px;
 width: 210px;
 height: 180px; }
 
 /*border: 8px solid #FFFFFF;
 border-radius:5px;
 box-shadow: 2px 2px 4px;
}*/



.glow-on-hover {
    width: 200px;
    height: 50px;
    
    margin:-140px 0px 0px 50px;
    border: none;
    outline: none;
    color:black;
    background: #FFD700;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: black;
}

.glow-on-hover:active:after {
    background: transparent;

}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background:#FFD700;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}





.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
  }




.tops{font-size:40px; font-family:Times New Roman; margin:auto; text-align:center;
  margin-top: 50px;}
.tops:hover{color:red;}

.solid{
  border:2px solid #FFD700;
  width:100%;
  height: 100%;
  background-color: #FFFFE0;

}

.image{
  width:120px;
  margin-left: 10px;
  margin-top: 40px;
}

.thumbnail{
  margin-left: 10px;
}

.img{
width: 22px;
height: 30px;
margin-left: 5px;
margin-top: 10px;
}

.ab{
margin-left: 145px;
margin-top: -130px;
font-size: 12px;
}
.top{margin-top: -5px;}
.para{margin-left: 140px;font-size: 8px;}

.rating{margin-left: 150px; font-size: 8px;color: black;}

.rate{margin-left: 16px;font-size: 8px;}

.num{margin-left: 18px; color: #B7950B;font-size: 8px;}

.digit{color: #B7950B;margin-left: 11px;font-size: 8px;}

.digi{color: #B7950B;margin-left: 1px;font-size: 8px;}

.per{margin-left: 32px;font-size:12px;color:  #2F4F4F;margin-top:-15px;}

.btn2{padding: 5px;margin-left: 20px;margin-top: 20px;background-color:  #2F4F4F;color:white;}
.btn2:hover{background-color: green;color:white; text-decoration:none; }
.food{margin-left: 20px; color:#2F4F4F;font-size: 12px;}

/* The bar container */
.bar-container {width: 22%; background-color:#A6ACAF; margin-left:150px;}

.bar-container1 {width:22%;background-color:#A6ACAF; margin-left:242px;}



/* Individual bars */
.bar-10 {width: 60%; height: 5px; background-color: #669900;}
.bar-9 {width: 60%; height: 5px; background-color: #669900;}
.bar-8 {width: 70%; height: 5px; background-color: #239B56;}
.bar-7 {width: 68%; height: 5px; background-color:  #4169E1;}
.bar-6 {width: 70%; height: 5px; background-color: #239B56;}
.bar-5 {width: 50%; height: 5px; background-color: #ff9900;}
.bar-4 {width: 40%; height: 5px; background-color: #cc3300;}
.bar-3 {width: 60%; height: 5px; background-color: #20B2AA;}
.bar-2 {width: 70%; height: 5px; background-color: #239B56;}
.bar-1 {width: 85%; height: 5px; background-color: #A52A2A;}

.c1{width:100px;height:100px; margin-top:25px;}
.flip-card {
  background-color: transparent;
  width: 150px;
  height: 150px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color:   #008080;
  color: black;
}

.flip-card-back {
  background-color: #E6E6FA;
  color: black;
  transform: rotateY(180deg);
}
.q1{font-size: 20px;}
.q2{font-size: 8px;}

.co1{margin-left:30px;}

.co2{margin-left: 20px;font-size: 15px;}

.work{font-size:40px; font-family:Times New Roman; text-align:center; 
  margin-top:100px; position:relative;}

 .parap{font-size:20px; font-family:arial; color:#000000; text-align:center; 
 margin-top:30px; position:relative;} 

.based{font-size:22px; font-family:arial; color:gray; text-align:center;}

.issue{height:400px; width:100%;margin-right: auto;margin-left: auto;}

.solving{font-size:40px; font-family:Times New Roman; color:white; 
text-align:center; margin:-290px 0px 0px 0px;}

.help{font-size:20px; font-family:arial; color:#FFD700; text-align:center;}

.offer{margin:200px 0px 0px -120px; font-size:40px; font-family:Times New Roman; 
color:#000000; margin-left:12px;}

.looking{font-size:18px; font-family:arial; color:#000000; margin:10px 0px 0px -120px; 
  margin-left:12.5px;}

.raimg{width: 100%;}

.custo{margin:-350px 0px 0px 650px; color:#FFD700;} 

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  background-color: #FFD700;
  color: black;
  width:300px;
  margin-left: 420px;
  margin-top: -250px;
}


.customer{font-size:40px; font-family:Times New Roman; text-align:center;}

.custimage{} 

.foot{margin-left: 350px;}

.footer {background-color:#FFD700;margin:0px auto; padding:20px 0px 10px 30px;
  position:static;}
.foot1{font-size:20px; }



}
  
  
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}
  
  

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
.navbar{background-color:#191970;}
.logo{margin-left: -50px;margin-top: 0px;}

.find{font-family:Times New Roman; font-size:30px;}

.finds{font-size:20px;font-family: san-serif;}

.intro{font-size:30px; font-family:Times New Roman; margin-top:60px;}

.app{font-size:16px; font-family:san-serif;}

.pro{margin-left:1020px; margin-top:-300px;width:150px;}


ul{
  list-type: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
.s1{border:0;width:150px; height:130px;}
.slider{
 margin-top: -200px;
 margin-left: 480px;
 width: 150px;
 height: 130px; }
 
 /*border: 8px solid #FFFFFF;
 border-radius:5px;
 box-shadow: 2px 2px 4px;
}*/



.glow-on-hover {
    width: 150px;
    height: 50px;
    
    margin:10px 0px 0px 65px;
    border: none;
    outline: none;
    color:black;
    background: #FFD700;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: black;
}

.glow-on-hover:active:after {
    background: transparent;

}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background:#FFD700;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}





.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
  }




.tops{font-size:30px; font-family:Times New Roman; margin:auto; text-align:center;
  margin-top: 100px;}
.tops:hover{color:red;}

/*.solid{
  border:2px solid #FFD700;
  width:100%;
  height: 100%;
  background-color: #FFFFE0;

}*/

.solid1{
  margin-top: -20px;margin-left: 15px;
  border:2px solid #FFD700;
  width:200%;
  height: 48%;
  background-color: #FFFFE0;

}

.solid2{
  margin-top: 500px;margin-left: -305px;
  border:2px solid #FFD700;
  width:200%;
  height: 48%;
  background-color: #FFFFE0;

}
.solid3{
  margin-top: -50px;margin-left: 15px;
  border:2px solid #FFD700;
  width:200%;
  height: 50%;
  background-color: #FFFFE0;

}
.solid4{
  margin-top: 480px;margin-left: -305px;
  border:2px solid #FFD700;
  width:200%;
  height: 49%;
  background-color: #FFFFE0;

}
.solid5{
  margin-top: -30px;margin-left:15px;
  border:2px solid #FFD700;
  width:200%;
  height: 51%;
  background-color: #FFFFE0;

}
.solid6{
  margin-top: 530px;margin-left: -305px;
  border:2px solid #FFD700;
  width:200%;
  height:48%;
  background-color: #FFFFE0;

}
.solid7{
  margin-top: -20px;margin-left: 15px;
  border:2px solid #FFD700;
  width:200%;
  height: 49%;
  background-color: #FFFFE0;

}
.solid8{
  margin-top: 500px;margin-left: -305px;
  border:2px solid #FFD700;
  width:200%;
  height: 50%;
  background-color: #FFFFE0;

}


.image{
  width:210px;
  height: 230px;
  margin-left: 10px;
  margin-top: 40px;
}

.thumbnail{
  margin-left: 6px;
}

.img{
width: 45px;
height: 65px;
margin-left: 5px;
margin-top: 10px;
}

.ab{
margin-left: 250px;
margin-top: -305px;
font-size: 20px;
}
.top{margin-top: -5px;}
.para{margin-left: 240px;font-size: 13px;}

.rating{margin-left: 240px; font-size: 12px;color: black;}

.rate{margin-left: 20px;font-size: 12px;}

.num{margin-left: 40px; color: #B7950B;font-size: 12px;}

.digit{color: #B7950B;margin-left: 30px;font-size: 12px;}

.digi{color: #B7950B;margin-left: 8px;font-size: 12px;}

.per{margin-left: 30px;font-size:16px;color:  #2F4F4F;margin-top:-10px;}

.btn2{padding: 5px;margin-left: 18px;margin-top: 20px;background-color:  #2F4F4F;color:white;}
.btn2:hover{background-color: green;color:white; text-decoration:none; }
.food{margin-left: 18px; color:#2F4F4F;font-size: 14px;}

/* The bar container */
.bar-container {width: 22%; background-color:#A6ACAF; margin-left:240px;}

.bar-container1 {width:22%;background-color:#A6ACAF; margin-left:387px;}



/* Individual bars */
.bar-10 {width: 60%; height: 5px; background-color: #669900;}
.bar-9 {width: 60%; height: 5px; background-color: #669900;}
.bar-8 {width: 70%; height: 5px; background-color: #239B56;}
.bar-7 {width: 68%; height: 5px; background-color:  #4169E1;}
.bar-6 {width: 70%; height: 5px; background-color: #239B56;}
.bar-5 {width: 50%; height: 5px; background-color: #ff9900;}
.bar-4 {width: 40%; height: 5px; background-color: #cc3300;}
.bar-3 {width: 60%; height: 5px; background-color: #20B2AA;}
.bar-2 {width: 70%; height: 5px; background-color: #239B56;}
.bar-1 {width: 85%; height: 5px; background-color: #A52A2A;}

.c1{width:120px;height:120px; margin-top:10px;}
.flip-card {
  background-color: transparent;
  width: 140px;
  height: 140px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color:   #008080;
  color: black;
}

.flip-card-back {
  background-color: #E6E6FA;
  color: black;
  transform: rotateY(180deg);
}
.q1{font-size: 16px;}
.q2{font-size: 9px;}





.work{font-size:32px; font-family:Times New Roman; text-align:center; 
  margin-top:0px; position:relative;}

 .parap{font-size:15px; font-family:san-serif; color:#000000; text-align:center; 
 margin-top:0px; position:relative;} 

.based{font-size:25px; font-family:san-serif; color:gray; text-align:center;margin-top: -30px;}

.issue{height:auto; width:100%;margin-right: auto;margin-left: auto;}

.solving{font-size:30px; font-family:Times New Roman; color:white; 
text-align:center; margin:-160px 0px 0px 0px;}

.help{font-size:16px; font-family:san-serif; color:#FFD700; text-align:center;
margin-top: -10px;}

.offer{margin:20px 0px 0px 0px; font-size:30px; font-family:Times New Roman; 
color:#000000;}

.looking{font-size:15px; font-family:san-serif; color:#000000; margin:0px 0px 0px 0px;}

.raimg{width: 100%;}

.custo{margin:-350px 0px 0px 650px; color:#FFD700;} 

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
  text-align: center;
  background-color: #FFD700;
  color: black;
  width:240px;
  margin-left: 320px;
  margin-top: -190px;
}
.co1{margin-left:20px;width:14px;}
.co2{margin-left: 10px;font-size: 14px;}

.customer{font-size:30px; font-family:Times New Roman; text-align:center;
margin-top: -50px;}

.custimage{} 

.foot{margin-left: 200px;color: white;}

.footer {background-color:#191970;margin:0px auto; padding:10px 0px 0px 10px;
  position:static;}
  .foot2{color: #F0F000;font-size: 22px;}
.foot1{font-size:16px; color: white;}
.item-link{color: #F0F000;}

}
  

  

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  /*.logo{margin-left: 250px;margin-top: -70px;}*/
 #hero .btn-get-started{width: 120px;font-size: 10px;padding: 10px;}
  .btn-nav1{width: 50px;font-size: 10px;}

.navbar{background-color: #191970;}
#hero .find{font-family:Times New Roman; font-size:20px;}


.masthead {
  width: 100%;
  height: 240px;
  background-image: url('banner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.finds{font-size:10px;font-family: san-serif;}

.intro{font-size:25px; font-family:Times New Roman; margin-top:170px;}

.app{font-size:14px; font-family:san-serif;}

.pro{margin-left:1020px; margin-top:-300px;width:150px;}


ul{
  list-type: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
.s1{border:0;width:100px; height:90px;}
.slider{
 margin-top: -250px;
 margin-left:auto;
 margin-right: auto;
 width: 100px;
 height: 90px; }
 
 /*border: 8px solid #FFFFFF;
 border-radius:5px;
 box-shadow: 2px 2px 4px;
}*/



.glow-on-hover {
    width: 100px;
    height: 30px;
    
    margin-top:0px;
    margin-right: auto;
    margin-left: 130px;
    border: none;
    outline: none;
    color:black;
    background: #FFD700;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 5px;
    font-size: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: black;
}

.glow-on-hover:active:after {
    background: transparent;

}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background:#FFD700;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}





.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
  }




.tops{font-size:25px; font-family:Times New Roman; margin:auto; text-align:center;
  margin-top: 200px;}
.tops:hover{color:red;}

/*.solid{
  border:2px solid #FFD700;
  width:100%;
  height: 100%;
  background-color: #FFFFE0;

}*/

.solid1{
  margin-top: -20px;margin-left: 8px;
  border:2px solid #FFD700;
  width:210%;
  height: 46%;
  background-color: #FFFFE0;

}

.solid2{
  margin-top: 430px;margin-left: -172px;
  border:2px solid #FFD700;
  width:210%;
  height: 48%;
  background-color: #FFFFE0;

}
.solid3{
  margin-top: -50px;margin-left: 8px;
  border:2px solid #FFD700;
  width:210%;
  height: 50%;
  background-color: #FFFFE0;

}
.solid4{
  margin-top: 400px;margin-left: -172px;
  border:2px solid #FFD700;
  width:210%;
  height: 49%;
  background-color: #FFFFE0;

}
.solid5{
  margin-top: -50px;margin-left:8px;
  border:2px solid #FFD700;
  width:210%;
  height: 51%;
  background-color: #FFFFE0;

}
.solid6{
  margin-top: 430px;margin-left: -172px;
  border:2px solid #FFD700;
  width:210%;
  height:48%;
  background-color: #FFFFE0;

}
.solid7{
  margin-top: -50px;margin-left: 8px;
  border:2px solid #FFD700;
  width:210%;
  height: 49%;
  background-color: #FFFFE0;

}
.solid8{
  margin-top: 400px;margin-left: -172px;
  border:2px solid #FFD700;
  width:210%;
  height: 50%;
  background-color: #FFFFE0;

}


.image{
  width:100px;
  height: 180px;
  margin-left: 10px;
  margin-top: 40px;
}

.thumbnail{
  margin-left: 6px;
}

.img{
width: 18px;
height: 40px;
margin-left: 5px;
margin-top: 10px;
}

.ab{
margin-left: 125px;
margin-top: -230px;
font-size: 14px;
}
.top{margin-top: -5px;}
.para{margin-left: 120px;font-size: 6.5px;}

.rating{margin-left: 125px; font-size: 6.5px;color: black;}

.rate{margin-left: 16px;font-size: 6.5px;}

.num{margin-left: 20px; color: #B7950B;font-size: 6.5px;}

.digit{color: #B7950B;margin-left: 14px;font-size: 6.5px;}

.digi{color: #B7950B;margin-left: 1px;font-size: 6.5px;}

.per{margin-left: 25px;font-size:10px;color:  #2F4F4F;margin-top:-10px;}

.btn2{padding: 5px;margin-left: 14px;margin-top: 20px;background-color:  #2F4F4F;color:white;}
.btn2:hover{background-color: green;color:white; text-decoration:none; }
.food{margin-left: 14px; color:#2F4F4F;font-size: 10px;}

/* The bar container */
.bar-container {width: 22%; background-color:#A6ACAF; margin-left:125px;}

.bar-container1 {width:22%;background-color:#A6ACAF; margin-left:207px;}



/* Individual bars */
.bar-10 {width: 60%; height: 5px; background-color: #669900;}
.bar-9 {width: 60%; height: 5px; background-color: #669900;}
.bar-8 {width: 70%; height: 5px; background-color: #239B56;}
.bar-7 {width: 68%; height: 5px; background-color:  #4169E1;}
.bar-6 {width: 70%; height: 5px; background-color: #239B56;}
.bar-5 {width: 50%; height: 5px; background-color: #ff9900;}
.bar-4 {width: 40%; height: 5px; background-color: #cc3300;}
.bar-3 {width: 60%; height: 5px; background-color: #20B2AA;}
.bar-2 {width: 70%; height: 5px; background-color: #239B56;}
.bar-1 {width: 85%; height: 5px; background-color: #A52A2A;}

.c1{width:50px;height:50px; margin-top:10px;}
.flip-card {
  background-color: transparent;
  width: 70px;
  height: 70px;
  margin-left: -5px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color:   #008080;
  color: black;
}

.flip-card-back {
  background-color: #E6E6FA;
  color: black;
  transform: rotateY(180deg);
}
.q1{font-size: 10px;}
.q2{font-size: 5px;}





.work{font-size:25px; font-family:Times New Roman; text-align:center; 
  margin-top:-20px; position:relative;}

 .parap{font-size:14px; font-family:san-serif; color:#000000; text-align:center; 
 margin-top:0px; position:relative;} 

.based{font-size:16px; font-family:san-serif; color:gray; text-align:center;margin-top: -50px;}

.issue{height:auto; width:100%;margin-right: auto;margin-left: auto;}

.solving{font-size:16px; font-family:Times New Roman; color:white; 
text-align:center; margin:-90px 0px 0px 0px;}

.help{font-size:9px; font-family:san-serif; color:#FFD700; text-align:center;margin-top: -20px;}

.offer{margin:20px 0px 0px 0px; font-size:18px; font-family:Times New Roman; 
color:#000000;}

.looking{font-size:9px; font-family:san-serif; color:#000000; margin:-10px 0px 0px 0px;}

.raimg{width: 100%;}

.custo{margin:-350px 0px 0px 650px; color:#FFD700;} 

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
  text-align: center;
  background-color: #FFD700;
  color: black;
  width:150px;
  margin-left: 180px;
  margin-top: -130px;
}
.co1{margin-left:16px;width:8px;}
.co2{margin-left: 8px;font-size: 8px;}

.customer{font-size:25px; font-family:Times New Roman; text-align:center;margin-top: -50px;}

.custimage{} 

.foot{margin-left: 60px;color: white;}

.footer {background-color:#191970;margin:0px auto; padding:10px 0px 0px 10px;
  position:static;}
  .foot2{color:#F0F000;font-size: 15px;}
.foot1{font-size:12px; color: white;}
.item-link{color:#F0F000;}
}

@media (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {

  /*.logo{margin-left: 250px;margin-top: -70px;}*/
 #hero .btn-get-started{width: 120px;font-size: 10px;padding: 10px;}
  .btn-nav1{width: 50px;font-size: 10px;}
.navbar{background-color: #191970;}
#hero .find{font-family:Times New Roman; font-size:20px;}

.finds{font-size:10px;font-family: san-serif;}

.intro{font-size:22px; font-family:Times New Roman; margin-top:25px;}

.app{font-size:10px; font-family:san-serif;}

.pro{margin-left:1020px; margin-top:-300px;width:150px;}


ul{
  list-type: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
.s1{border:0;width:70px; height:60px;}
.slider{
 margin-top: -140px;
 margin-left: 290px;
 width: 70px;
 height: 60px; }
 
 /*border: 8px solid #FFFFFF;
 border-radius:5px;
 box-shadow: 2px 2px 4px;
}*/



.glow-on-hover {
    width: 100px;
    height: 30px;
    
    margin:5px 0px 0px 15px;
    border: none;
    outline: none;
    color:black;
    background: #FFD700;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 5px;
    font-size: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: black;
}

.glow-on-hover:active:after {
    background: transparent;

}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background:#FFD700;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}





.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
  }




.tops{font-size:22px; font-family:Times New Roman; margin:auto; text-align:center;
  margin-top: 100px;}
.tops:hover{color:red;}

/*.solid{
  border:2px solid #FFD700;
  width:100%;
  height: 100%;
  background-color: #FFFFE0;

}*/

.solid1{
  margin-top: -20px;margin-left: 8px;
  border:2px solid #FFD700;
  width:210%;
  height: 46%;
  background-color: #FFFFE0;

}

.solid2{
  margin-top: 430px;margin-left: -232px;
  border:2px solid #FFD700;
  width:210%;
  height: 48%;
  background-color: #FFFFE0;

}
.solid3{
  margin-top: -50px;margin-left: 8px;
  border:2px solid #FFD700;
  width:210%;
  height: 50%;
  background-color: #FFFFE0;

}
.solid4{
  margin-top: 400px;margin-left: -232px;
  border:2px solid #FFD700;
  width:210%;
  height: 49%;
  background-color: #FFFFE0;

}
.solid5{
  margin-top: -50px;margin-left:8px;
  border:2px solid #FFD700;
  width:210%;
  height: 51%;
  background-color: #FFFFE0;

}
.solid6{
  margin-top: 430px;margin-left: -232px;
  border:2px solid #FFD700;
  width:210%;
  height:48%;
  background-color: #FFFFE0;

}
.solid7{
  margin-top: -50px;margin-left: 8px;
  border:2px solid #FFD700;
  width:210%;
  height: 49%;
  background-color: #FFFFE0;

}
.solid8{
  margin-top: 400px;margin-left: -232px;
  border:2px solid #FFD700;
  width:210%;
  height: 50%;
  background-color: #FFFFE0;

}


.image{
  width:130px;
  height: 200px;
  margin-left: 10px;
  margin-top: 40px;
}

.thumbnail{
  margin-left: 6px;
}

.img{
width: 30px;
height: 50px;
margin-left: 1px;
margin-top: 10px;
}

.ab{
margin-left: 165px;
margin-top: -265px;
font-size: 18px;
}
.top{margin-top: -5px;}
.para{margin-left: 160px;font-size: 10px;}

.rating{margin-left: 160px; font-size: 10px;color: black;}

.rate{margin-left: 14px;font-size: 10px;}

.num{margin-left: 23px; color: #B7950B;font-size: 10px;}

.digit{color: #B7950B;margin-left: 14px;font-size: 10px;}

.digi{color: #B7950B;margin-left: 1px;font-size: 10px;}

.per{margin-left: 25px;font-size:12px;color:  #2F4F4F;margin-top:-10px;}

.btn2{padding: 5px;margin-left: 14px;margin-top: 10px;background-color:  #2F4F4F;color:white;}
.btn2:hover{background-color: green;color:white; text-decoration:none; }
.food{margin-left: 16px; color:#2F4F4F;font-size: 10px;}

/* The bar container */
.bar-container {width: 22%; background-color:#A6ACAF; margin-left:160px;}

.bar-container1 {width:22%;background-color:#A6ACAF; margin-left:270px;}



/* Individual bars */
.bar-10 {width: 60%; height: 5px; background-color: #669900;}
.bar-9 {width: 60%; height: 5px; background-color: #669900;}
.bar-8 {width: 70%; height: 5px; background-color: #239B56;}
.bar-7 {width: 68%; height: 5px; background-color:  #4169E1;}
.bar-6 {width: 70%; height: 5px; background-color: #239B56;}
.bar-5 {width: 50%; height: 5px; background-color: #ff9900;}
.bar-4 {width: 40%; height: 5px; background-color: #cc3300;}
.bar-3 {width: 60%; height: 5px; background-color: #20B2AA;}
.bar-2 {width: 70%; height: 5px; background-color: #239B56;}
.bar-1 {width: 85%; height: 5px; background-color: #A52A2A;}

.c1{width:80px;height:80px; margin-top:10px;}
.flip-card {
  background-color: transparent;
  width: 100px;
  height: 100px;
  margin-left: -10px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color:   #008080;
  color: black;
}

.flip-card-back {
  background-color: #E6E6FA;
  color: black;
  transform: rotateY(180deg);
}
.q1{font-size: 12px;}
.q2{font-size: 7px;}

.work{font-size:22px; font-family:Times New Roman; text-align:center; 
  margin-top:-20px; position:relative;}

 .parap{font-size:12px; font-family:san-serif; color:#000000; text-align:center; 
 margin-top:0px; position:relative;} 

.based{font-size:16px; font-family:san-serif; color:gray; text-align:center;margin-top: -50px;}

.issue{height:auto; width:100%;margin-right: auto;margin-left: auto;}

.solving{font-size:22px; font-family:Times New Roman; color:white; 
text-align:center; margin:-120px 0px 0px 0px;}

.help{font-size:12px; font-family:san-serif; color:#FFD700; text-align:center;margin-top: -20px;}

.offer{margin:20px 0px 0px 0px; font-size:22px; font-family:Times New Roman; 
color:#000000;}

.looking{font-size:11px; font-family:san-serif; color:#000000; margin:0px 0px 0px 0px;}

.raimg{width: 100%;}

.custo{margin:-350px 0px 0px 650px; color:#FFD700;} 

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
  text-align: center;
  background-color: #FFD700;
  color: black;
  width:180px;
  margin-left: 250px;
  margin-top: -150px;
}
.co1{margin-left:16px;width:10px;}
.co2{margin-left: 8px;font-size: 10px;}

.customer{font-size:25px; font-family:Times New Roman; text-align:center;margin-top: -50px;}

.custimage{} 

.foot{margin-left: 70px;color: white;margin-top: -30px;}

.footer {background-color:#2F4F4F;margin:0px auto; padding:10px 0px 0px 20px;
  position:static;}
  .foot2{color:#F0F000;font-size: 16px;}
.foot1{font-size:12px; color: white;}
.item-link{color: #F0F000;}
}
  
  

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

